{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-3 col-lg-4 col-lg-offset-5">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Авторизация на сайте
                                    {{ base_url }} 
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-10 col-md-10 login-box">
                                        <form class="form-signin" method='post' action='/login_check'>
                                            {% if error %}
                                            <div class='red'>{{ error.message }}</div><br>
                                            {% endif %}
                                            <label for="inputName" class="sr-only">User Name</label>
                                            <input type="text" id="inputName" name='_username' class="form-control" placeholder="User Name" required autofocus>
                                            <label for="inputPassword" class="sr-only">Password</label>
                                            <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="remember-me" required checked>Disclaimer
                                                </label>
                                            </div>
                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}