{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Код</th>
                        <th>Название</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.productId }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
           
        </div>
    </div>
{% endblock %}
