{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-1 col-sm-4 col-sm-offset-3 col-lg-4 col-lg-offset-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Регистрация на сайте
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    {{ form_start(form) }}
                                        {{ form_row(form.username) }}
                                        {{ form_row(form.email) }}
                                        {{ form_row(form.password.first) }}
                                        {{ form_row(form.password.second) }}
                                        <button type="submit" class="btn btn-labeled btn-success">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>
                                            Зарегистрироваться
                                        </button>
                                        <p>Вернуться ко <a href="/login">входу</a></p>
                                    {{ form_end(form) }}   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}